body {
    color: #f9f9f9;
    background: #2a2a2a;
}

button {
    background: #31363B;
    color: #f9f9f9;
    border: 1px #6E7175;
    border-radius: 3px;
    padding: 4px 8px;
}
button:hover {
    border: 1px #5993B2;
}

entry {
    border: 1px #5F6265;
    border-radius: 3px;
    padding: 5px;
    background: #1B1E20;
}

entry:hover {
    border: 1px #5993B2;
}
entry:focus {
    border: 1px #5993B2;
}

scroll::scrollbar {
    background: #1E1F22;
}

scroll::scrollbar-thumb {
    background: #444446;
}