body {
    --deft-border-color: #6E7175;
    --deft-highlight-border-color: #5993B2;
    --deft-disabled-border-color: #3A3D41;

    --deft-default-color: #f0f0f0;
    --deft-disabled-color: #727679;
    --deft-placeholder-color: #A1A9B1;

    --deft-disabled-placeholder-color: #5A5D63;

    --deft-highlight-background: #3DAEE9;
    --deft-disabled-background: #2F3338;
    --deft-form-control-background: #1B1E20;
    --deft-button-background: #31363B;
    --deft-body-background: #2A2E32;

    --deft-scrollbar-background: #1B1E20;
    --deft-scrollbar-thumb-background: #424546;

    --deft-dialog-title-background: #31363B;
}

button {
    background: #31363B;
    color: #f9f9f9;
    border: 1px #6E7175;
    border-radius: 3px;
    padding: 4px 8px;
}
button:hover {
    border: 1px #5993B2;
}

entry {
    border: 1px #5F6265;
    border-radius: 3px;
    padding: 5px;
    background: #1B1E20;
}

entry:hover {
    border: 1px #5993B2;
}
entry:focus {
    border: 1px #5993B2;
}

scroll::scrollbar {
    background: #1E1F22;
}

scroll::scrollbar-thumb {
    background: #444446;
}